:root {
  --primary-color: #000000;
  --secondary-color: #818181;
  --text-color: #333;
  --background-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(input):not(select):not(code):not(textarea):not([contenteditable]) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overscroll-behavior: none;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  padding-top: 2.5rem;
}

.container {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  background: #ffffff;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
	z-index: 100;
}

footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	background-color: var(--primary-color);
	padding: 1.5rem;
	border-top: 1px solid #ffffff;
	width: 100%;
}

h1 {
  font-size: 2rem;
}

main {
  padding: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #34495e;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .card {
    padding: 1rem;
  }
}